# Java
*.class
*.jar
*.war
*.ear
target/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfplan

# Ansible
*.retry

# Logs
*.log

# Environment variables
.env
application-local.properties

# Files to ignore for sensitive information
application-prod.yml
application-local.yml
*.env
.env.*
**/secrets/
